- unless controller_name == 'sessions'
  = form_for(User.new, url: session_path(User.new), html: {class: 'navbar-form'}, remote: false) do |f|
    = f.email_field :email, placeholder: "Email", class: "input-small"
    = f.password_field :password, placeholder: "Password", class: "input-small"
    = f.submit "Sign in", class: "btn btn-success"
